@charset "utf-8";
*{ margin: 0; padding: 0; box-sizing: border-box;}
body{
    padding: 1rem;
    height: 100vh;
}
.menu{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.login{
    width: 300px;
    height: 70px;
    color: #fff;
    background-color: black;
    font-size: larger;
    border-radius: 1rem;
}
ul{
    display: flex;
    flex-direction: column;
    font-size: larger;
    color: #fff;
    background-color: black;
    width: 300px;
    height: 150px;
    list-style: none;
    gap: 1rem;
    border-radius: 1rem;
}
.login,li{
    text-align: center;
}
p{
    text-align: center;
    color: #fff;
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 5px;
}