@charset "utf-8";

.login-page{
    width: 300px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 1rem;
    .input-data{
        width: 100%;
        height: auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            padding: 0.5rem;
            box-sizing: border-box;
        }
        input:focus + label{
            top: 0;
            font-size: 0.5rem;
        }
        label{
            position: absolute;
            transition: 0.3s;
            top: 0.25rem;
            left: 0.5rem;
            pointer-events: none;
        }
    }
}